:root,
:root[theme='light'] {
  --color: orange;
  --background-color: #eee;
  --background-color-second: #e6e6e6;
  --text-color: #333;
}

:root[theme='dark'] {
  --color: red;
  --background-color: #333;
  --background-color-second: #444;
  --text-color: #eee;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background: var(--background-color);
}
